h1{
    text-align:center;
}
h2{
    text-align: center;
}
h3{
    text-align: right;
}
.parent{
    width: 270px;
    height: 270px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;

}
.child{
    border: 5px solid black;
    border-radius: 5%;
}
.pink{
    background-color: rgb(246, 57, 120);
}
.green{
    background-color: rgb(75, 209, 187);
}
.orange{
    background-color: rgb(239, 124, 70);
}
.blue{
    background-color: rgb(69, 175, 247);
}

.flash{
    background-color: white;
}
.userflash{
    background-color: black;
}
